@import 'variables.scss';

.new-tweet {
  display: none;
  width: 100%;

  #tweet-text {
    width: 100%;
    background: inherit;
    border: 0px;
    border-bottom: 2px solid black;
    outline: none;
  }
  
  .button-and-counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    font-family: $font-highlighted;
  }
  
  .error-bar {
    z-index: 1;
    width: 100%;
    vertical-align: middle;
    line-height: 1.4em;
    text-align: center;
    color: #721c24;
    background-color: #db677099;
    display: none;
    margin: 0px;
  }
}
