nav {
  background-color: rgb(146, 167, 237);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #FFFFFF;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 1.5em;
  height: 120px;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav button {
  background: transparent;
  border: inherit;
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
}
nav .logo {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Bungee, sans-serif;
  font-size: 35px;
}
nav .newTweet {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 10px;
  cursor: pointer;
}
nav p {
  margin: 0px;
}
nav .red {
  color: red;
}
