nav {
  display: flex;
  padding: 0em 1.5em;
  background: #4056a1;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  max-width:100%;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

span {
  font-family: Bungee, sans-serif;
  font-size: 35px;
}

.logo {
  margin-top: 24px;
  margin-bottom: 24px;
}

nav .newTweet {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px
}

p {
  margin: 0px;
}

.red {
  color: red
}