nav {
  display: flex;
  padding: 1.5em;
  background: #4056a1;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  flex-flow: row;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}

span {
  font-family: Bungee, sans-serif;
}

.logo {
  margin-top: 24px;
  margin-bottom: 24px;
}

.newTweet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px
}

p {
  margin-bottom: 0px;
}

.red {
  color: red
}