@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
  }
  body nav {
    background-color: #4056a1;
    background-image: none;
  }
  body .container {
    width: 65%;
    margin: 0px;
  }
  body .userName {
    margin: 0px;
  }
  body .new-tweet {
    margin-top: 2.5vw;
  }
  body .new-tweet > h2 {
    margin-top: 0px;
  }
  body .tweet {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
  body header {
    justify-content: center;
    width: 25%;
    height: 400px;
    float: left;
    margin: 2.5vw 2.5vw 2.5vw 0vw;
    position: relative;
  }
}
