.tweet { 
  border: 2px solid black;
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90vw;
}
.tweet header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 95%;
  padding: 5px 0px;
  align-items: center;
}

.tweet .img-username {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.5em;

}

.tweet .img-username > img {
  width: 50px;
}

.tweet-content {
  margin: 1em 0.5em;
  width: 95%;
  overflow-wrap: break-word;
  
}
.tweet > footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 98%;
  border-top: 2px solid black;
  font-size: 0.75em;
}

.tweet > footer > menu {
  margin: 0px;
}

.tweet:hover {
  box-shadow: 5px 5px darkgoldenrod;
}

i:hover {
  color: darkgoldenrod;
}